body {
  background-color: black;
  color: white;
  font-family: monospace;
}
button {
  display: block;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  border: 1px solid white;
  padding: 5px 20px;
}
button:hover {
  background-color: white;
  color: black;
}
